# Object files
*.o

#Others
*.vscode
*.mpg
*.avi

# Ignore cmake related files
cmake*
CMake*
Makefile
RSPCN
RSPCN20-25

# Unignore MakeList
!CMakeLists.txt

# Ignore swig_output folder
swig_output/
swig_output_2025/
RSPCN_wrap*
